html {
    height: 100%;
}
body{
    background: linear-gradient(#F2E69D, #f2e79d85);
}

button{
    background-color: #2669BF;
    border: none;
    text-align: center;
    padding: 20px;
    border-radius: 35px;
    width: 30%;
    color: #F5F5F5;
    font-weight: bold;
    font-size: 2em;
}

img{
    width: 55%;
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.start-page-buttons{
    margin-top: 3%;
    text-align: center;
}

button:hover{
    color:#2669BF;
    background-color: #F5F5F5;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #2669BF;
  overflow: hidden;
  font-family: "Inter";
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Inter";
}
  
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #F2E69D;
  color: #BF0426;
}
  
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.nav {
  height:30px;
  width:70px;
}

#logout {
  float:right;
}


